.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.env
.flaskenv

.idea/
.vscode/
*.swp

.ipynb_checkpoints

meetings_db.json

test_audio_*.wav
test_video_*.zip